# 0.0 Imports and directories

In [2]:
import pandas as pd
from pandas_profiling import ProfileReport
import os

In [3]:
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath('__file__')))
DATA_DIR = os.path.join(BASE_DIR, 'feature_eng', 'data', 'ft_df.csv')

# 1.0 EDA

In [4]:
df = pd.read_csv(DATA_DIR)

In [7]:
df.sort_values('gross_revenue', ascending = False)

,customer_id,avg_recency_days,avg_basket_size,avg_unique_basket_size,gross_revenue,returned_revenue,last_purchase,orders,qt_products,qt_items,frequency,average_ticket
1017,14646,8.022727,2733.944444,9.708333,279138.02,360.00,1.0,72.0,2060.0,196844.0,0.203390,3876.916944
492,18102,14.680000,1068.733333,2.500000,259657.30,0.00,0.0,60.0,431.0,64124.0,0.163043,4327.621667
434,17450,13.807692,1521.586957,2.695652,194550.79,4815.26,8.0,46.0,337.0,69993.0,0.127778,4229.365000
3338,16446,205.000000,40498.500000,1.500000,168472.50,168469.60,0.0,2.0,3.0,80997.0,0.009709,84236.250000
66,14911,2.861538,403.331658,8.974874,140450.72,7443.59,1.0,199.0,5673.0,80263.0,0.533512,705.782513
...,...,...,...,...,...,...,...,...,...,...,...,...
4958,21975,0.000000,0.000000,0.000000,0.00,49.65,0.0,0.0,0.0,0.0,0.000000,0.000000
2174,19759,0.000000,0.000000,0.000000,0.00,10.20,0.0,0.0,0.0,0.0,0.000000,0.000000
5019,22036,0.000000,0.000000,0.000000,0.00,313.86,0.0,0.0,0.0,0.0,0.000000,0.000000
1726,19590,0.000000,0.000000,0.000000,0.00,46.20,0.0,0.0,0.0,0.0,0.000000,0.000000
559,12870,0.000000,0.000000,0.000000,0.00,14.90,0.0,0.0,0.0,0.0,0.000000,0.000000

## 1.1 Univariate Analysis

In [6]:
profile = ProfileReport(df)
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## 1.2 Bivariate Analysis